body {
    background-image: url(https://images.unsplash.com/photo-1553714191-c89281730c67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
}

mat-toolbar {
    background-color: #3F51B5;
    color: white;
    align-items: end;
}

mat-toolbar h1 {
    margin-left: 58px;
}

.example-card {
    max-width: 400px;
    height: 600px;
    display: flex;
    justify-content: space-around;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.center-content {
    text-align: -webkit-center
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    margin-top: 10px;
    width: 100%;
}

.mat-button {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 25px;
}

.mat-mdc-card-header {
    display: flex;
    padding: 16px 16px 0;
    justify-content: space-around;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-size: cover;
}

.message {
    padding-top: 10px;
    color: #D72B2B;
}

.verification {
    padding-top: 10px;
    color: #3F51B5;
}

img {
    height: 600px;
}

.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #3F51B5;
    --mdc-protected-button-label-text-color: white;
}