<mat-toolbar>
    <h1>Course Catalog</h1>
</mat-toolbar>

<!-- This section is the layout of the table for the course catalog -->
<div class="center">
    <br>
    <section class="wrapper-main">
        <table>
            <thead>
                <tr>
                    <th scope="col">Course Level</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>  
                    <!--This section utilizes the ngFor directive to load in the information for each course into each row -->
                    <!--The indexOfCourse is used to help grab the details utilized to create a card with the information for that courses loaded on it-->
                    <!--That card also gives the option to register for the course.  This functionality is found in the Courses component.-->
                    <tr *ngFor="let courses of courses; let indexOfCourse = index;">                  
                        <td>{{courses.course_level}}</td>
                        <td>{{courses.name}}</td>                        
                        <td>{{courses.category}}</td>
                        <td>{{courses.cost| currency}}</td>
                        <td><button mat-raised-button (click)="setCourse(indexOfCourse); toggleDisplay() ">Details</button> </td>              
                    </tr>
            </tbody>
        </table>
    </section>     
</div>
<br>
<div class="registration" *ngIf="toDisplay">
    <app-courses [course]="full_course"></app-courses>
</div>

<br>
