<div class="toolbar" role="banner">
    <a routerLink="/" class="home-button" style="font-size: 1.8em;">RevLearn</a>
      <div class="spacer"></div>
      <a routerLink="/courses" class="circle-button" style="font-size: 1em;">courses</a>
      <a routerLink="/quiz" class="circle-button" style="font-size: 1em;">quiz</a>
      <a routerLink="/gradebook" class="circle-button" id ="gradebook" style="font-size: 1em;">gradebook</a>
      <a routerLink="/forum" class="circle-button" id ="forum" style="font-size: 1em;">forum</a>
  </div>
