<div class="toolbar" role="banner">
  <a *ngIf="!isLoggedIn; else loggedIn" class="home-button" style="font-size: 1.8em;">RevLearn</a>
  <ng-template #loggedIn><a routerLink="/account" class="home-button">RevLearn</a></ng-template>
      <div class="spacer"></div>
      
      <div *ngIf="isLoggedIn">
        <a routerLink="/catalog" routerLinkActive="active-link" class="circle-button">
          <mat-icon>menu_book</mat-icon>
          <span>Catalog</span>
        </a>
        <a routerLink="/mycourses" routerLinkActive="active-link" class="circle-button">
          <mat-icon>book</mat-icon>
          <span>My Courses</span>
        </a>
        <a routerLink="/gradebook" routerLinkActive="active-link" class="circle-button" id ="gradebook">
          <mat-icon>assessment</mat-icon>
          <span>Gradebook</span>
        </a>
        <a routerLink="/forum" class="circle-button" routerLinkActive="active-link" id ="forum">
          <mat-icon>forum</mat-icon>
          <span>Forum</span>
        </a>
        <a routerLink="/account" class="circle-button" routerLinkActive="active-link" id ="account">
          <mat-icon>account_circle</mat-icon>
          <span>Account</span>
        </a>
    </div>
  </div>
