table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th.Id {
    text-align: left;
    order: 1;
  }
  
  th.Grades {
    text-align: right;
    order: 2;
  }
  
  .grades {
    text-align: right;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  mat-toolbar {
    background-color: #3F51B5;
    color: white;
}