mat-toolbar {
    background-color: #3F51B5;
    color: white;
    align-items: end;
}

mat-toolbar h1 {
    margin-left: 58px;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #3F51B5;
    color: white;
    border-radius: 5px;
    padding: 16px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-icon {
    margin-right: 8px;
}

.example-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.payment-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.example-mid-width {
    width: 40%;
    margin-top: 2rem;
    margin-left: 2%;
}

.example-full-width {
    width: 82%;
    margin-left: 2%;
    margin-top: 2rem;
}

.id {
    width: 20%;
    margin-top: 2rem;
    margin-left: 2%;
}

.button-div {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bottom-button {
    margin: 10px;
}

::ng-deep .mat-tooltip {
    font-size: 14px;
    color: #fff;
    background-color: #000;
}

.message {
    padding-top: 10px;
    color: #3F51B5;
    display: flex;
    justify-content: center;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.warning {
    color: #3F51B5;
}

.courses {
    margin-top: 10px;
}

.col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mdc-card__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    min-height: 52px;
    padding: 8px;
    justify-content: center;
}

h2 {
    margin-bottom: 5px;
    margin-top: 10px;
    ;
}