
<mat-toolbar>
</mat-toolbar>

<body>



<h2>Forum Posts</h2>

<div class="forum-box" *ngFor="let post of forums">
  <p class="user">User: WRITE JOIN TO STUDENT {{ post.userId }}</p>
  <div class="body" [innerHTML]="post.textBody"></div>
  <p class="created-at">posted: {{ post.createdAt }}</p>
</div>

<h1>Post New Reply</h1>

<div class="NgxEditor__Wrapper">
  <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
  <ngx-editor [editor]="editor" [(ngModel)]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
</div>

<button (click)="addPost()">Submit</button>
</body>