/* Styles for the entire body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Styles for the toolbar */
mat-toolbar {
  background-color: #3F51B5;
  height: 64px;
  width: 100%;
}

/* Styles for the forum posts */
.forum-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
  width:75%;
  position: relative;
  
}


.forum-box .user {
  font-size: 16px;
}

.forum-box .created-at {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 14px;
  margin: 10px;
  color: #888;
}

/* Styles for the "Post New Reply" section */
.NgxEditor__Wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40%;
  margin: 20px 0;
}


/* Styles for the submit button */
button {
  background-color: #3F51B5;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3f51b5bd;
}