/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
html { background-color: rgba(248, 250, 252, 0.781); }

body.dark {
    background-color: #222;
    color: #d15c5c;
  }